<div class="image" style="background-image: url(https://th.bing.com/th/id/OIP.URuV0WJWrCntyvQTacuMsAHaEo?w=288&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
background-position: full;
background-size: cover;">

<div class="container">
  <br><br>
      
   
    <div class="mt-4 p-5 bg-primary text-white rounded"style="
    background-image: url(https://th.bing.com/th/id/OIP.drzuWUEwKj2k3WW8o6JdxQHaFC?w=238&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;   
    height: 550px;
    width: 1290px;
  "> 
  
      <h1 class="text-left">Sports - Blog Application</h1>&nbsp;  
         
      <p class="text-left">Full Name  : SIVASUBRAMANIAN T</p>
      <p class="text-left">Batch Code : 2022 - 7888</p>
      <p class="text-left">Center Name: Bangalore - Jayanagar</p>
      
    </div>
  </div>
  <br/><br><br><br>


  

<div class="container">
  <h2>Sports Related Posts :</h2>
  <br>
  <div class="container">
    <div class="row"> 
      <br> 
      <div class="card" style="width: 16.1rem;" *ngFor="let post of posts">
        <br>
        <img class="card-img-top" src="data:image/png;base64,{{post.postImage}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{post.postTitle}}</h6>
         <p class="content">{{post.postContent | slice : 0 :50 }}...</p>
          <a href="/post/{{post.postId}}" class="btn btn-primary btn-sm ">Read More</a>
        </div>
        
      </div>
    
      
      
     
    </div>
    </div>
    <br/><br><br><br><br>
