<div class="image" style="background-image: url(https://th.bing.com/th/id/OIP.URuV0WJWrCntyvQTacuMsAHaEo?w=288&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
background-position: full;
background-size: cover;">

<div class="container">
    <br><br><br>
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card p-4 mt-3">
                <h3 class="heading mt-5 text-center">Hi! How can we help You?</h3>
                <div class="d-flex justify-content-center px-5">
                    <div class="search"> <input type="text" class="search-input" placeholder="Search..." name="" #title> <a
                            class="search-icon" (click)="postSearch(title.value)"> <i class="fa fa-search"></i> </a> </div>
                </div>
                <div class="row mt-4 g-1 px-4 mb-5">
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/cricket.jpg" width="54">
                            <div class="text-center mg-text"> <span class="mg-text">Cricket</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/Football.jpg" width="51">
                            <div class="text-center mg-text"> <span class="mg-text">Football</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/hockey....jpg" width="57">
                            <div class="text-center mg-text"> <span class="mg-text">Hockey</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/Kabaddi.jpg" width="85">
                            <div class="text-center mg-text"> <span class="mg-text">Kabaddi</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/Volleyballl.jpg" width="57">
                            <div class="text-center mg-text"> <span class="mg-text">VolleyBall</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img
                                src="/assets/Kho-Kho.jpg" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Kho-Kho</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
<br>
<br>

<br>
